@charset "UTF-8";
/* are de fundo */
	div#amizade{
		position: absolute;
	    overflow: auto;
	    width: 79.5%;
	    height: 93.5%;
	    margin: 50px 0px 0px 4px;
	    padding: 0px 0px 0px 0px;
		background: #5dad60;
		}

/* Estilo de titulo */
	h1#titulo{
		font-size: 5;
		font-family: arial;
		color: cyan;
	}

/*mostrar os amigos*/
table#amizade{
	border: 1px solid;
	width: 180px;
	margin-top: 10px;
}
tr#amizade{
	border: 1px solid;
}
td#amizade{
	border: 1px solid;
}
td#espaco{
	padding: 50px;
}