@charset"UTF-8;
*{margin: 0; padding: 0}
html, body{
  height: 99.2%;
  width: 100%;
  white-space: normal;/* Permite a quebra de texto automaticamente */
  overflow: auto;/* Não permite rolagem na pagina */
  margin-left: 0%;
  position: relative;
}
/*Definindo a largura e a posicão da primeira divisão*/
	div#primeira{
		width: 100%;
		height: 100%;
		}
/*Ajustando a imagem*/
	header#cabecalho img#icone{
		position: absolute;
		width: 100%;
		height: 11.5%;
		}

/*Ajustando o formulario*/
	form#Login{
		margin-top: -50%;
		}
	div#inicio{
		text-align: center;
		font-size: 200%;
		margin-top: 20%;
		}
	div#senha{
		margin-top: 1%;
		}
	div#lembrar{
		font-size: 20px;
		margin-top: 1%;
		margin-left: 2.2%;
		margin-bottom: 1%;
		}
	div#button1{
		margin-left: 5%;
		display: inline;
		}
	div#button{
		margin-left: 0%;
		font-size: 100%;
		display: inline;
		}
	button.button{
		width: 10%;
		height: 15%;
		font-size: 75%;
		}
