@charset "UTF-8";
/* editando o formulario */
	div#or{
		margin-bottom:100px;
		width: 50%;
		border: 5px solid green;
		}
	label{
		float: left;
		}
	input{
		float: right;
		}
	input#s{
		float: none;
		}