@charset"UTF-8";
body{
	overflow: scroll;
	}
/*Ajustando o formulario*/
form#Login{
	margin-left: 40%;
	margin-top: -60%;
	}
table#ajuste{
	height: 100%;
	width: 100%;
	text-align: left;
	}
td{
	width: 40%;
	float: left;
	margin-right: -28%;
	}

input{
	text-align: center;
	font-size: 100%;
	width: 100%;
	border: 1px solid black;
	margin-bottom: 3%;
	}
input#cSenha{
	margin-bottom: 1%;
}
input#cRSenha{
	margin-top: -3%;
}
input#cData{
	display: block;
	margin-left: 30%;
	margin-bottom: 2%;
	width: 41%;
	}
input#cNomeS{
	display: block;
	margin-left: 12%;
	margin-top: 1%;
	width: 95%;	
	}
select#Sexo{
	width: 355px;
	height: 45px;
	}
tr#sexo{
	display: block;
	margin-bottom: 50px;
	}

/*ajuste de botões*/
button.button{
	width: 11%;
	}
div#button, div#buton{
	margin-left: -50%;
	}